div(class="navbar navbar-fixed-top")
	div(class='navbar-inner')
		div(class='container-fluid')
			a(class="brand", href="/") Taskmaster
			ul(class='nav')
				li
					a(href='/') Home
				li
					a(href='/current') Current Task
				li
					a(href='/history') Task History
				li
					a(href='/logout') Log Out