h3 Task History:
if (tasks == true || tasks.length != 0)
  table
    tr
      th Name
      th Duration (Minutes)
      th Score
    for task in tasks
      if (task.status == "complete")
        tr
          - var dur = (task.duration / 60000)
          td #{task.name}
          td #{dur}
          td #{task.sum}
else
  p Nothing here yet. What would you like to do?