doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js")
    link(rel='stylesheet', href='http://bootswatch.com/simplex/bootstrap.css')
  body
    div(id='blurb')
      h2
        | What is Taskmaster?
      ul
        li
          | Need to get something done on the web? Give it to Taskmaster.
        li
          | Taskmaster monitors your browsing activity and scores you based on how focused you are.
        li
          | Get a breakdown of how well you did and what sites were most helpful.
    div(id='logindiv')
      h2
        | Get Started:
      a(href='/login')
        img(id='loginbutton', src='../images/facebook_login.png',)